{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienevenue dans ce blog !</h1>
    <article>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, corporis dolore doloribus eos fugiat iusto maiores molestias nemo nisi nostrum praesentium quia quis quisquam reiciendis repellendus sapiente soluta tempora voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cupiditate fuga illo optio possimus quia sed voluptates. Dolores eligendi magnam qui quisquam tenetur. Accusamus alias at dolores fugit iste velit?
    </article>
{% endblock %}

{% block title %}

{% endblock %}

