{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, error eveniet nostrum optio sapiente
                sed.</p>
            <p>Alias delectus id maiores nesciunt nisi nobis omnis perspiciatis, possimus quaerat repellat sed tempora
                voluptates!</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a></div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci assumenda beatae cumque facere facilis
                vitae.</p>
            <p>At, cumque dolore doloribus, ex expedita harum nesciunt officiis quae quis quisquam ut veniam
                voluptatem!</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a></div>
    </article>
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur enim expedita, itaque nemo
                tenetur.</p>
            <p>Accusamus aliquam aliquid culpa eaque et, neque nihil, non perferendis placeat quo quod saepe
                voluptatum.</p>
            <a href="{{ path('blog_show') }}" class="btn btn-primary">Lire la suite</a></div>
    </article>

{% endblock %}
