{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <article>
        <h2>Titre de l'article</h2>
        <div class="metadata">Ecrit le 10/05/2018 à 19:00 dans la catégorie Politique</div>
        <div class="content"><img src="http://placehold.it/350x150" alt="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, error eveniet nostrum optio sapiente
                sed.
            </p>
            <p>Alias delectus id maiores nesciunt nisi nobis omnis perspiciatis, possimus quaerat repellat sed tempora
                voluptates!
            </p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias, aliquid amet assumenda autem beatae
                blanditiis consequatur consequuntur dicta distinctio dolorem doloribus eos eveniet excepturi harum illo
                illum in incidunt itaque laboriosam minima molestiae nesciunt nisi numquam obcaecati odio officiis,
                perferendis possimus provident quisquam repellendus repudiandae suscipit vel veritatis vero.
            </p>
            <p>A, accusamus architecto asperiores blanditiis deleniti earum eos nobis sit tempore totam. Aliquam
                aliquid, dolores eaque ex, itaque laboriosam laborum nulla quam quas ratione repellat reprehenderit
                tenetur. Ab accusamus alias aspernatur aut cumque deleniti distinctio doloribus inventore ipsam, iure
                laudantium minus molestiae, nobis perspiciatis, quos suscipit totam ullam veniam voluptate!
            </p>
        </div>
    </article>
{% endblock %}

